<h1> All artists</h1>

<table> 
    <thead>
        <tr> 
           <th>Picture</th> 
           <th>Name</th> 
           <th>Description</th> 
           <th>Band</th> 
           <th>Update</th> 
           <th>Delete</th> 
        </tr>
    </thead>

    <tbody>  
       {{#each artists}}
        <tr> 
           <td>
               <img class ="" src="">  Picture</td> 
           <td>Name</td> 
           <td>Description</td> 
           <td>Band</td> 
           <td>Update</td> 
           <td>Delete</td> 
        </tr>

       {{/each}}
    </tbody>
</table>