<h1> Add a artist </h1>

<form action="/dashboard/artists" method="post">  

<label for="name">Name: </label >
<input id="name" type="text" name="name">

<label for="isBand">isBand: </label >
<input id="isBand" type="text" name="isBand">

<label for="description">description: </label >
<input id="description" type="text" name="description">

<label for="picture">: </label >
<input id="picture" type="text" name="picture">

<button>Add </button>
</form>