<h1>Dashboard</h1>
<h2>Welcome to your admin panel</h2>

<nav>
  <a href="/dashboard/artists">artists</a>
  <a href="/dashboard/artists/create">artist</a>
  <a href="/dashboard/labels">labels</a>
  <a href="/dashboard/labels/create">label</a>
  <a href="/dashboard/styles">styles</a>
  <a href="/dashboard/styles/create">style</a>
</nav>

<h2>Availble resources in database</h2>

<p>Artists: {{artistsNumber}}</p>
<p>Labels: {{labelsNumber}}</p>
<p>Styles: {{stylesNumber}}</p>